.home-body {
  display: flex;
  margin-top: 90px;
  &__context {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 300px;
    margin-top: 30px;
    overflow-x: hidden;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;

    .top-left {
      text-decoration: none;
      &__wrapper {
        display: flex;
        align-items: center;
      }
      &__title {
        margin-left: 20px;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        color: #fff;
      }
      &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #c2c2c2;
        margin-left: 19px;
      }
    }

    .btn_wrapper {
      margin-right: 120px;

      button {
        box-sizing: border-box;
        background: none;
        border: none;
        margin-left: 10px;
      }
      img {
        background-color: #2e2e34;
        border-radius: 50%;
      }
    }
  }
  .item {
    margin-bottom: 49px;
    &-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      &::-webkit-scrollbar {
        height: 10px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: darkgrey;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      &__links {
        width: 250px;
        flex-shrink: 0;
        text-decoration: none;
        margin-right: 40px;

        &:hover {
          h2 {
            text-overflow: unset;
            white-space: unset;
            position: absolute;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.7);
            border-radius: 5px;
          }
        }
      }

      &__items {
        margin: 0;
        padding: 0;

        &-wrapper {
          position: relative;
          text-decoration: none;

          img {
            margin: 0;
            padding: 0;
            width: 250px;
            height: 150px;
            border-radius: 14px;
          }
          h2 {
            margin: 0;
            padding: 0;
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            font-weight: 700;
            text-transform: capitalize;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
        &-content {
          display: flex;
          align-items: center;
          justify-content: space-between;

          p {
            margin: 0;
            padding: 0;
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: #fff;
            opacity: 0.4;
          }
        }
      }
    }
  }
  .center {
    margin-bottom: 50px;
    overflow-x: hidden;

    h2 {
      margin: 0;
      padding: 0;
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 26px;
      line-height: 32px;
      color: #fff;
    }
    &__links {
      width: 540px;
    }

    &__list {
      margin-bottom: 50px;
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      &::-webkit-scrollbar {
        height: 10px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: darkgrey;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
    .center-img {
      width: 540px;
      height: 250px;
    }
  }
}
