@import "../../assets/scss/variables/font.scss";
@import "../../assets/scss/variables/colors.scss";

.sidebar {
  overflow-y: auto;
  width: 220px;
  bottom: 0;
  padding-left: 32px;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 120px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: darkgrey;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  &-top {
    padding-bottom: 30px;
  }

  &-center {
    padding-bottom: 30px;

    .more__btn {
      display: flex;
      align-items: center;
      border: none;
      background: none;
      padding: 0;
      cursor: pointer;
    }

    .more__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #fff;
      opacity: 0.5;
      padding-left: 16px;
    }
  }

  &-bottom {
    display: flex;
    flex-direction: column;
    color: #fff;

    &__title {
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
    }
    &__link {
      display: flex;
      align-items: center;
      text-decoration: none;
    }
    &__img {
      display: block;
      margin-right: 10px;
    }
    &__name {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #fff;
      opacity: 0.5;
    }
  }

  &__menu {
    &-text {
      color: #fff;
      opacity: 0.5;
      padding-left: 16px;
      font-size: 16px;
      line-height: 20px;
    }

    text-decoration: none;
    display: flex;
    align-items: center;
  }
  &__menu-active {
    svg {
      path {
        opacity: 1;
        fill: $active-color;
      }
    }
    p {
      opacity: 1;
      color: $active-color;
    }
  }
}
